
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh; 
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.container-sec {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    max-width: 1000px; /* Limita a largura do container */
    overflow-y: auto; /* Permite o scroll vertical */
    max-height: 700px; /* Altura máxima para o scroll */
}

.token {
    margin: 10px 0;
    white-space: pre-wrap; /* Mantém formatação de espaços em branco no JSON */
    word-wrap: break-word; /* Envolve palavras longas */
    font-family: monospace; /* Usa uma fonte monoespaçada para melhor legibilidade */
    background-color: #f0f0f0; /* Fundo suave para os tokens */
    border-radius: 5px;
    padding: 10px;
}

@media (max-width: 600px) {
    h2 {
        font-size: 1.5em; /* Ajusta o tamanho do título para telas menores */
    }
}

.car-list-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

.car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.car-card:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}
